
body { width: 100%; text-align: center; margin: 0px; padding: 0px;}

#container { width: 720px; text-align: left; margin: 0px auto; font-family: 'Roboto', Sans-serif;}


h1 {
    font-size: 350%;
    color: #00a4ff;
    font-weight: bold;
}

p {
    font-size: 18px;
    line-height: 32px;
}


quote {
    font-family: 'Georgia', serif;
    font-size: 150%;
    font-style: italic;
}

blackquote {
    color: white;
    font-size: 200%;
    background-color: black;
}


figure {
    background-color: #E8E8E8;
}


figcaption {
    font-family: 'Georgia', serif;
    font-size: 80%;
    font-style: italic;
    color: #404040;
    text-align: center;
}


img {
    display: block;
    margin: auto;
}
