
body { width: 100%; text-align: center; margin: 0px; padding: 0px;}

#container { width: 720px; text-align: left; margin: 0px auto; font-family: 'Roboto', Sans-serif;}


h1 {
    font-size: 350%;
    color: #00a4ff;
    font-weight: bold;
}

p {
    font-size: 27px;
    line-height: 45px;
}


quote {
    font-family: 'Georgia', serif;
    font-size: 150%;
}



#blackquote {
    color: white;
    font-size: 100%;
    background-color: black;
    width: 720px;
    padding: 50px 0;
    position: relative;
    bottom: 50px;
    text-align: center;
}


#blackquote p {
    font-size: 200%;
    line-height: 50px;
}


#frame {
    background-color: #E8E8E8;
    width: 350px;
    margin: auto;
    padding: 0 50px;
}


#frame p {
    font-family: 'Georgia', serif;
    font-size: 80%;
    font-style: italic;
    color: #404040;
    text-align: center;
    line-height: 20px;
}


img {
    display: block;
    margin: auto;
}


ul {
    list-style-image: url('images/bullet-check.jpg');
    font-size: 27px;
    line-height: 52px;
}


.bullet-no {
    list-style-image: url('images/bullet-no.jpg');
    color: #00a4ff;
    font-size: 32px;
    font-weight: bold;
}

.bullet-yes {
    list-style-image: url('images/bullet-check.jpg');
    color: #00a4ff;
    font-size: 32px;
    font-weight: bold;
}

.quote {
    padding: 0 50px;
    border-style: solid;
    border-left-width: 5px;
    border-left-color: #00a4ff;
    border-width: 0 0 0 10px;
}

.source {
    padding: 0 50px;
}

