
body { 
    width: 100%; 
/*    text-align: center; */
    margin: 0px; 
    padding: 0px;
    font-size: 27px;
    line-height: 45px;
}

#container { 
    width: 720px; 
    text-align: left; 
    margin: 0px auto; 
    font-family: 'Roboto', Sans-serif;
}


h1 {
    font-size: 225%;
    line-height: normal;
    color: #00a4ff;
    font-weight: bold;
    margin: 100px 0 40px 0;
}


h4 {
    font-size: 125%;
    line-height: normal;
    color: #00a4ff;
    font-weight: bold;
    margin: 50px 0 40px 0;
}


#blackquote {
    color: white;
    font-size: 100%;
    background-color: black;
    width: 720px;
    padding: 50px 0;
    position: relative;
    bottom: 50px;
    text-align: center;
}

.moveup {
    position: relative;
   /*  top: 255px;   			*/
    transform: translateY(-15px);
}


#blackquote p {
    font-size: 115%;
    line-height: 50px;
}


#frame {
    background-color: #E8E8E8;
    width: 350px;
    margin: auto;
    padding: 50px;
}


#frame p {
    font-family: 'Georgia', serif;
    font-size: 60%;
    font-style: italic;
    color: #404040;
    text-align: center;
    line-height: normal;
}


img {
    display: block;
    margin: auto;
}


ul {
    list-style-image: url('images/Starchild-landing-page-bullet-check.png');
    font-size: 27px;
    line-height: 48px;
}


li {
	margin-bottom: 25px;
}


.bullet-no {
    list-style-image: url('images/bullet-no.jpg');
    color: #00a4ff;
    font-size: 135%;
    font-weight: bold;
}

.bullet-yes {
    list-style-image: url('images/Starchild-landing-page-bullet-check.png');
    color: #00a4ff;
    font-size: 32px;
    font-weight: bold;
}

.quote {
    font-family: 'Georgia', serif;
    font-size: 110%;
    padding: 0 80px;
    margin: 0 0 120px 0;
    border-style: solid;
    border-left-width: 5px;
    border-left-color: #00a4ff;
    border-width: 0 0 0 10px;
}

.source {
    padding: 0 80px;
}

.gumroad-button2 {
    color: #404040 !important;
    font-size: 32px !important;
    font-weight: bold;
    background-color: #FFD966;
    width: 720px;
    padding: 15px 45px 15px 45px;
    margin: 40px;
    border-radius: 3px;
    box-shadow: 6px 9px black;
    text-decoration: none;
    position: relative;
    text-align: center;
}

.gumroad-button2:hover {background-color: #fcc932}

.gumroad-button2:active {
  background-color: #ffe493;
  box-shadow: 2px 3px black;
  transform: translateY(8px);
}





#payhipstyle {
    color: #404040 !important; 
  	border-color: white !important; 
  	background-image: linear-gradient(#ffe493,#FFD966)!important; 
    font-size: 32px !important; 
    font-weight: bold !important; 
    background-color: #FFD966 !important; 
    width: 520px !important; 
/*    padding: 15px 45px 15px 45px !important; 
    margin: 40px !important; 						*/
    border-radius: 3px !important; 
    box-shadow: 6px 9px black !important; 
    text-decoration: none !important; 
    position: relative !important; 
    text-align: center !important; 
}

#payhipstyle:hover {background-color: #fcc932 !important}

#payhipstyle:active {
  background-color: #ffe493 !important;
  box-shadow: 2px 3px black !important;
  transform: translateY(8px) !important;
}







.book {
    font-family: "georgia", sans-serif;
    color: #ffffff;
    background-color: #212121;
    width: 590px;
    padding: 50px 80px;
    margin: 50px 0;
    position: relative;
    bottom: 50px;
    font-family: "georgia", sans-serif;
    font-size: 24px;
}

.graybigtext {
    font-family: 'Roboto', Sans-serif;
    font-size: 125%;
    font-weight: bold;
    color: #424242;
}

button {
    font-size: 120%;
    color: black;
    background-color: #FAC115;
    font-weight: bold;
    padding: 20px 40px;
    margin: auto;
    border: none;
    cursor: pointer;
}

.center {
    text-align: center; 
}

.whitetext {
    font-family: 'Roboto', Sans-serif;
    font-size: 225%;
    font-weight: bold;
    color: white; 
    line-height: normal;
    font-weight: bold;
    margin: 100px 0 40px 0;
}

.italicend {
    text-align: center; 
    font-size: 60%;
    line-height: normal;
    color: #404040;
}

#clockdiv{
    font-family: sans-serif;
    color: #3a3a3a;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
    margin: auto;
}

#clockdiv > div{
    /* padding: 10px;
    border-radius: 3px;
    background: #00BF96; */
    display: inline-block;
}

#clockdiv div > span{
    padding: 15px;
    border-radius: 3px;
    background: #BDBDBD;
    display: inline-block;
}

.smalltext{
    /* padding-top: 5px; */
    font-size: 16px;
    color: #7f7f7f;
}

.steps{
    text-align: center;
    color: #00a4ff;
    font-size: 32px;
    font-weight: bold;
}

.bluewin {
    color: #ffffff;
    font-size: 32px;
    font-weight: bold;
    background-color: #00a4ff;
    width: 720px;
    padding: 15px 0;
    margin: 40px 0;
    position: relative;
    text-align: center;
}

.youwin {
    color: #404040;
    font-size: 32px;
    font-weight: bold;
    background-color: #FFD966;
    width: 720px;
    padding: 15px 0;
    margin: 40px 0;
    position: relative;
    text-align: center;
}

b {
    font-weight: 900;
}


/*
.gumroad-overlay-iframe {
      position: relative;
}
*/
